
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  height: 100%;
}

body {
  font-family: 'Georgia', serif;
  background-color: #f8ead8;
  color: #3d2c22;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}


header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
}

header h2 {
  font-size: 1.2rem;
  margin-top: 5px;
  font-weight: normal;
  color: #6e5c4b;
}


nav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #3d2c22;
  font-weight: bold;
  text-align: start;
}

nav a:hover {
  text-decoration: underline;
}


main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}


img {
  height: 200px;
  width: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}


p {
  padding-top: 10px;
  max-width: 600px;
}


footer {
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  color: #8b7b6c;
  padding: 20px;
}



@media (max-width: 768px) {
  img {
    height: auto;
    width: 80%;
  }

  p {
    padding: 10px;
  }

  header h1 {
    font-size: 2rem;
  }

  header h2 {
    font-size: 1rem;
  }
}

  
